body {
  background-image: url("../images/imgMenu2.png");
  color: black;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark-mode {
  background-image: none;
  /* Elimina la imagen de fondo en modo oscuro */
  background-color: #111;
  /* Establece un color de fondo en modo oscuro */
  color: #fff;
  /* Cambia el color del texto en modo oscuro */
}

.bg-white {
  text-align: center;
  padding: 0%;
}

.primary-text {
  color: black;
}

.second-text {
  color: black;
}

.primary-bg {
  background-color: black;
}

.secondary-bg {
  background-color: black;
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #fee693;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25 rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn-orange {
  background-color: #ffc107;
  color: #380046;
}
.btn-orange:hover {
  background-color: #a36a00;
  color: white;
}